.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h1 {
  font-family: "Lato";
  font-size: 5vmin;
  letter-spacing: 5px;
}
.result {
  display: flex;
  justify-content: center;
}
